<script lang="ts">
import type {IMessage} from "../../chat/message";
import {DateTime} from "luxon";
import Message from "../message/Message.svelte";
import {afterUpdate} from "svelte";

export let autoscroll = false;
let messageContainer;

let messages: IMessage[] = []


let socket = new WebSocket(`ws://${window.location.host}/chat/ws`)
socket.onmessage = event => {
    let m = JSON.parse(event.data)
    m.Timestamp = DateTime.fromISO(m.Timestamp)
    messages = [...messages, m]
}

afterUpdate(() => {
    if (autoscroll && messageContainer && messageContainer.lastChild) {
        messageContainer.lastChild.scrollIntoView();
    }
})
</script>

<div class="wrapper" bind:this={messageContainer}>
    {#each messages as m}
        <Message message={m} />
    {/each}
</div>

<style>
    .wrapper {
        display: inline-grid;
        gap: .7rem;
    }
</style>
