<script lang="ts">
    import type {IMessage} from "../../chat/message";
    import Avatar from "../avatar/Avatar.svelte";

    export let message: IMessage
</script>

<div class="wrapper">
    <Avatar imageURL={message.Sender.AvatarURL} size={1.5} />
    <div class="text-wrapper">
        <div class="origin-wrapper">
            <span><strong>{message.Sender.Name}</strong></span>
            <Avatar imageURL={message.Source.AvatarURL} size={.8} />
            <span><small>{message.Timestamp.toFormat("HH:mm:ss")}</small></span>
        </div>
        <span class="message-content">{message.Payload}</span>
    </div>
</div>

<style>
    .wrapper {
        display: flex;
        flex-wrap: nowrap;
        gap: .4rem;
    }

    .text-wrapper {
        display: block;
    }

    .origin-wrapper {
        display: flex;
        flex-wrap: nowrap;
        gap: .2rem;
    }
</style>
