<script lang="ts">
    export let imageURL: string;
    export let size: number = 1;
    $: imgSize = size * 25;
</script>

<img src={imageURL} alt="Avatar" height={imgSize} width={imgSize}>

<style>
    img {
        border-radius: 50%;
        object-fit: contain;
    }
</style>
