<script lang="ts">

	import {Route, Router} from "svelte-navigator";
	import ChatPage from "./pages/chat/ChatPage.svelte";
</script>

<Router primary={false}>
	<main>
		<Route path="/">
			<ChatPage />
		</Route>
	</main>
</Router>
